.move-choice {
  cursor: pointer;
}

#normal-btn:hover {
  /* width: 150px; */
  color: #19f006;
  font-weight: bold;
  /* font-size: 2.1em; */
  box-shadow: 10px 10px 8px #888888;
  transform: scale(1.1);
}

#impossible-btn:hover {
  /* width: 150px; */
  color: red;
  font-weight: bold;
  /* font-size: 2.1em; */
  box-shadow: 10px 10px 8px #888888;
  transform: scale(1.1);
}

#play-again:hover {
  font-weight: bold;
  box-shadow: 10px 10px 8px #888888;
  transform: scale(1.1);
}

h1 {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  img {
    width: 40%;
  }
}